@import '../bootstrap'
@import '../theme'

/** Themes */

v-btn-toggle-label($material)
  color: $material.text.secondary

theme(v-btn-toggle-label, "v-btn-toggle-label")

.v-btn-toggle-label
  flex: 0 1 auto
  border-radius: $button-border-radius
  height: $button-height
  font-size: $button-font-size
  line-height: $button-height
  font-weight: $button-font-weight
  padding: 0 8px
  margin: 0
  min-width: $button-min-width
  outline: 0
  text-transform: $button-text-transform
  text-decoration: none
  transition: .3s $transition.swing, color 1ms
  position: relative
  vertical-align: middle
  user-select: none
  background-color: transparent
  box-shadow: none
  text-align: center

  &--small
    font-size: $button-small-font-size
    line-height: $button-small-height
    height: $button-small-height

  &--large
    font-size: $button-large-font-size
    line-height: $button-large-height
    height: $button-large-height
